[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Administration</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body id="admin_admin-home" class="admin">
[% INCLUDE 'header.inc' %]
[% INCLUDE 'cat-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; Administration</div>

<div id="doc" class="yui-t7">
   
   <div id="bd">
	<div id="yui-main" class="sysprefs">
    <div class="yui-g"><h1>Koha administration</h1></div>
	<div class="yui-g">

<div class="yui-u first">
<form action="/cgi-bin/koha/admin/preferences.pl" method="post">
<fieldset>
<h4><a href="/cgi-bin/koha/admin/preferences.pl">Global system preferences</a></h4>
	<p>Manage global system preferences like MARC flavor, date format, administrator email, and templates.</p>
        <input type="hidden" name="op" value="search" />
        <input type="text" name="searchfield" value="[% searchfield %]" />
        <input type="submit" name="ok" class="submit" value="Search" />
</fieldset>
</form>


<div class="hint"><h4>Hint:</h4><p>Configure these parameters in the order they appear.</p></div>
<h3>Basic parameters</h3>
<dl>
        <dt><a href="/cgi-bin/koha/admin/branches.pl">Libraries and groups</a></dt>
        <dd>Define libraries and groups.</dd>
        <dt><a href="/cgi-bin/koha/admin/itemtypes.pl">Item types</a></dt>
        <dd>Define item types used for circulation rules.</dd>
        <dt><a href="/cgi-bin/koha/admin/authorised_values.pl">Authorized values</a></dt>
		<dd>Define categories and authorized values for them.</dd>
</dl>

<h3>Patrons and circulation</h3>
<dl>
	<dt><a href="/cgi-bin/koha/admin/categorie.pl">Patron categories</a></dt>
	<dd>Define patron categories.</dd>
[% IF CAN_user_parameters_manage_circ_rules %]
    <dt><a href="/cgi-bin/koha/admin/smart-rules.pl">Circulation and fines rules</a></dt>
    <dd>Define circulation and fines rules for combinations of libraries, patron categories, and item types</dd>
[% END %]
    <dt><a href="/cgi-bin/koha/admin/patron-attr-types.pl">Patron attribute types</a></dt>
    <dd>Define extended attributes (identifiers and statistical categories) for patron records</dd>
    <dt><a href="/cgi-bin/koha/admin/branch_transfer_limits.pl">Library transfer limits</a></dt>
	<dd>Limit the ability to transfer items between libraries based on the library sending, the library receiving, and the item type involved. These rules only go into effect if the preference UseBranchTransferLimits is set to ON.</dd>
    <dt><a href="/cgi-bin/koha/admin/transport-cost-matrix.pl">Transport cost matrix</a></dt>
    <dd>Define transport costs between branches</dd>
    <dt><a href="/cgi-bin/koha/admin/item_circulation_alerts.pl">Item circulation alerts</a></dt>
	<dd>Define rules for check-in and checkout notifications for combinations of libraries, patron categories, and item types</dd>
    <dt><a href="/cgi-bin/koha/admin/cities.pl">Cities and towns</a></dt>
    <dd>Define cities and towns that your patrons live in.</dd>
</dl>
</div>
<div class="yui-u">
<h3>Catalog</h3>
<dl>
    <dt><a href="/cgi-bin/koha/admin/biblio_framework.pl">MARC bibliographic framework</a></dt>
	<dd>Create and manage Bibliographic frameworks that define the characteristics of your MARC Records (field and subfield definitions) as well as templates for the MARC editor.</dd>
	<dt><a href="/cgi-bin/koha/admin/koha2marclinks.pl">Koha to MARC mapping</a></dt>
	<dd>Define the mapping between the Koha transactional database (SQL) and the MARC Bibliographic records. Note that the mapping can be defined through MARC Bibliographic Framework. This tool is just a shortcut to speed up linkage.</dd>
        <dt><a href="/cgi-bin/koha/admin/fieldmapping.pl">Keywords to MARC mapping</a></dt>
        <dd>Define the mapping between keywords and MARC fields, those keywords are used to find some datas independently of the framework.</dd>
	<dt><a href="/cgi-bin/koha/admin/checkmarc.pl">MARC Bibliographic framework test</a></dt>
	<dd>Checks the MARC structure. If you change your MARC Bibliographic framework it's recommended that you run this tool to test for errors in your definition.</dd>
    <dt><a href="/cgi-bin/koha/admin/authtypes.pl">Authority types</a></dt>
    <dd>Create and manage Authorities frameworks that define the characteristics of your MARC Records (field and subfield definitions).</dd>
    <dt><a href="/cgi-bin/koha/admin/classsources.pl">Classification sources</a></dt>
    <dd>Define classification sources (i.e., call number schemes) used by your collection.  Also define filing rules used for sorting call numbers.</dd>
    <dt><a href="/cgi-bin/koha/admin/matching-rules.pl">Record matching rules</a></dt>
    <dd>Manage rules for automatically matching MARC records during record imports.</dd>
    <dt><a href="/cgi-bin/koha/admin/oai_sets.pl">OAI sets configuration</a></dt>
    <dd>Manage OAI Sets</dd>
</dl>

<h3>Acquisition parameters</h3>
<dl>
        <dt><a href="/cgi-bin/koha/admin/currency.pl">Currencies and exchange rates</a></dt>
        <dd>Define currencies and exchange rates used for acquisitions.</dd>

        <dt><a href="/cgi-bin/koha/admin/aqbudgetperiods.pl">Budgets</a></dt>
        <dd>Define your budgets</dd>
        
        <dt><a href="/cgi-bin/koha/admin/aqbudgets.pl">Funds</a></dt>
        <dd>Define funds within your budgets</dd>

</dl>

<h3>Additional parameters</h3>
<dl>
	<!-- <dt><a href="/cgi-bin/koha/admin/printers.pl">Network Printers</a></dt>
	<dd>Printers (UNIX paths).</dd> -->
    <dt><a href="/cgi-bin/koha/admin/z3950servers.pl">Z39.50/SRU servers</a></dt>
    <dd>Define which external servers to query for MARC data.</dd>
    <dt><a href="/cgi-bin/koha/admin/didyoumean.pl">Did you mean?</a></dt>
    <dd>Choose which plugins to use to suggest searches to patrons and staff.</dd>
    <dt><a href="/cgi-bin/koha/admin/columns_settings.pl">Configure columns</a></dt>
    <dd>Hide or show columns for tables.</dd>
</dl>
</div>

</div>
</div>
</div>
[% INCLUDE 'intranet-bottom.inc' %]
